#counter {

  font-size: 4vh;
  border-radius: 20px;
  border: solid black 1px;
  padding: 1vh;
  width: 50%;
}
#counter > * {
  display: inline;
}
.particle {
  width: 1vh;
  height: 1vh;
  border: solid black 1px;
  position: absolute;
  border-radius: 60px;
  background-color: blue;
  top: 50%;
  left: 50%;
}
#particlecontainer {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  border: solid red 1px;
}
#upgradesdiv
{
    display: block;
    float: left;
    width: 15%;
    height: 10%;
    margin: 1vh;
    
}
.upgrade
{
    display: block;
    width: 100%; 
    margin-top: 1%;
    font-size: 2vh;
    padding: 2%;
    border-radius: 20px;
}
